$sizes: ( 
	xs: 600px,
	sm: 768px,
	md: 1025px,
	lg: 1400px 
);

$colours: (
	"primary": orange,
	"secondary": blue,
	"success": green,
	"warning": yellow,
	"danger": red,
	"white": #FFFFFF,
	"dark": #000000,
	"gray-c": #CCC,
	"gray-3": #333,
	"gray-6": #666,
	"gray-9": #999

);