$naranjo: orange;
$blanco: #ffffff;
$negro: #000000;
$azul: blue;
$rojo: red;
$verde: green;
$celeste: lightblue;
$gris-c: #CCCCCC;
$gris-3: #333333;
$gris-6: #666666;
$gris9: #999999;
$violeta: violet;

$links: true !default;