@import 'mixins';
@import 'maps';
@import 'variable';


// font -->
* { 
	font-family: 'Roboto', sans-serif; 
}
strong,
.strong { 
	font-weight: bold!important; 
}
.arial { 
	font-family: Arial, Helvetica, sans-serif!important; 
}
@for $i from 4 through 25 {
	.size-#{$i*2}{
		font-size: $i*2px;
	}
}
@for $i from 6 through 10 {
	.size-#{$i*10}{
		font-size: $i*10px;
	}
}

// sombras -->
@for $i from 1 through 5 {
	.t-shadow-#{$i}{
		@include text-shadow($i+px, $i+px, 0.5);
	}
}
@for $i from 1 through 5 {
	.b-shadow-#{$i}{
		@include box-shadow($i+px, $i+px, 0.5);
	}
}

// color -->
// bg-color
@each $item, $property in $colours {
	.bg-#{$item}{
		background: $property;
	}
}
// text-colour
@each $item, $property in $colours {
	.text-#{$item}{
		color: $property;
	}
}
// border-color
@each $item, $property in $colours {
	.border-#{$item}{
		border: $property solid 1px;
	}
}

// layout -->
// width
*[class|='w-'] { 
	display: block; 
	@include box-sizing(border-box);
	strong {
		font-weight: 700;
	}
}
@for $i from 1 through 10 {
	@if ($i <= 10){
		.w-#{$i * 10}{
			width: $i*10+px;
		}
	}
	.w-#{$i * 100}{
		width: $i * 100+px;
	}
}
// height
@for $i from 1 through 10 {
	@if ($i <= 10){
		.h-#{$i * 10}{
			height: $i*10+px;
		}
	}
	.h-#{$i * 100}{
		height: $i * 100+px;
	}
}

// padding-top: 
@for $i from 1 through 10 {
	.pad-t-#{$i}{
		padding-top: $i+rem!important;
	}
}
// padding-right: 
@for $i from 1 through 10 {
	.pad-r-#{$i}{
		padding-right: $i+rem!important;
	}
}	
// padding-bottom: 
@for $i from 1 through 10 {
	.pad-b-#{$i}{
		padding-bottom: $i+rem!important;
	}
}	
// padding-left: 
@for $i from 1 through 10 {
	.pad-r-#{$i}{
		padding-left: $i+rem!important;
	}
}
// padding-top & bottom: 
@for $i from 1 through 10 {
	.pad-y-#{$i}{
		padding-top: $i+rem!important;
		padding-bottom: $i+rem!important;
	}
}	
// padding-right & left: 
@for $i from 1 through 10 {
	.pad-x-#{$i}{
		padding-right: $i+rem!important;
		padding-left: $i+rem!important;
	}
}	

/* links */
@include enlace(map-keys($colours)...);

.relative { 
	position: relative; 
}
.absolute { 
	position: absolute; 
}
// test